/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Nokora:wght@100;300;400;700;900&display=swap');

/* Wildcard selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
/* General styles */
    color: whitesmoke 
    font-family: 'Nokora', sans-serif;

}

/* Header */
header {
    background-color: #659dbd;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px gray;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

/* This creates a rule for any a tag which is a decendent of the header */
header a {
    text-decoration: none;
    color: inherit;    
    letter-spacing: 3px;

}

h1 {
    font-family: 'Nokora', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f8fcfb;
}

#navitems {
    font-size:105%;
    letter-spacing: 1px;
    list-style: none;
}

#navitems > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #d3d6db;
}

/* Creating toggle on the nav bar */
nav {
    position: absolute;
    background-color: #659dbd;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px gray;
/* This will remove the nav items from the display */
    display: none;
/* This means it will start at the bottom of its parent */    
    top: 100%;
}

/* Toggle for nav items */
#toggle:checked~nav {
    display: block;
} 

#toggle {
    display: none;
}

/* Changes the height of the toggle */
.toggle-label {
    font-size: 2rem;
}

/* Main */
main {
    background-color: whitesmoke;
    flex: 1 0 auto;
    margin-top: 42px;
}

/* footer */
footer {
    background-color: rgb(96, 46, 46);
}


@media screen and (max-width: 280px) {
    main {
        background-color: whitesmoke;
        flex: 1 0 auto;
        margin-top: px;  
    }
}    

/* Media queries for screen sizes 768px+ */
@media screen and (min-width: 768px) {
/* Should display the nav items */

    main {
        background-color: whitesmoke;
        flex: 1 0 auto;
        margin-top: 51px;
    }       

    nav { 
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #navitems {
        display: flex;
    }
    #navitems > li {
        padding-left: 1rem;
    }
    .toggle-label {
        display: none;
    }

}
    
