/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Nokora:wght@100;300;400;700;900&display=swap');

/* Wildcard selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
/* General styles */
    color: black;
    font-family: 'Nokora', sans-serif;

}

/* Header */
header {
    background-color: whitesmoke;
}

h1 {
    font-family: 'Nokora', sans-serif;
}

/* Main */
main {
    background-color: whitesmoke;
    flex: 1 0 auto;
}

/* footer */
footer {
    background-color: rgb(96, 46, 46);
}