/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

/* Wildcard selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
/* General styles */
    color: black;

}

/* Header */
header {
    background-color: rgb(96, 46, 46);
}

/* Main */
main {
    background-color: whitesmoke;
    flex: 1 0 auto;
}

/* footer */
footer {
    background-color: rgb(96, 46, 46);
}